.triangle {
    width: 0;
    height: 0;
    margin: auto;
    border: 50px solid transparent;
    border-bottom-color: aqua;
}

.block {
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 50px;
    background-color:aqua;
    text-align: center;
}

.triangle-big {
    position: relative;
    bottom: 140px;
    border: 50px solid transparent;
    border-bottom-color: blue;
}

.block-big{
    margin: 5px 15px;
    height: 40px;
    position: relative;
    bottom: 150px;
    background-color:blue;
}

.text{
    color: white;
    margin: 10px;
}